<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicons/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicons/safari-pinned-tab.svg" color="#55acee">
    <link rel="shortcut icon" href="../assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="../assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Sun Pump</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />

    <script src ="/socket.io/socket.io.js"></script>

</head>

<body class="index-page sidebar-collapse">

    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="600">
            <div class="container ">
                <div class="navbar-translate">
                    <a href="#top">
                        <img class="nav-logo" src="../assets/logos/logo-long-transparent.png" alt="Sun Pump logo">
                    </a>
                    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="collapse  navbar-collapse justify-content-end" id="navigation" >
                    <!-- data-nav-image="../assets/img/blurred-image-1.jpg"-->

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link  " href="#thepump">
                                <p>Pump Info</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#buy">

                                <p>Buy a Pump</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " href="#ourpartners">
                                <p>Our Partners</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#contact">

                                <p>Contact</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-round btn btn-neutral btn-hover" href="./donate">

                                <p>To Donate Page</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- End Navbar -->

    <div class="wrapper">

        <div class="page-header clear-filter" filter-color="">
            <!-- look into the filter here -->

            <div class="page-header-image" data-parallax="true">
            </div>
            <div id="top" class="container">
                <div class="content-center brand">

                    <!-- <img class="nav-logo" src="../assets/logos/logo-transparent.png" alt="Sun Pump logo"> -->
                    <!-- <h1 class="h1-seo">Sun Pump</h1>
                    <h3>A revolutionary solar powered water pump.</h3> -->

                    <section class="cd-intro">
                        <h1 class="h1-seo cd-headline slide">
                            <span>Sun Pump is </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">eco-friendly</b>
                                <b>portable</b>
                                <b>affordable</b>
                            </span>
                        </h1>
                    </section>


                </div>
            </div>

        </div>
        <div class="main">


            <div class="spacer"></div>


            <div id="thepump" class="section section-basic">
                <div class="container center">


                    <div class="row">
                        <div class="col-md flush-left">
                            <h3 class="list-title">Features of the Sun Pump</h3>
                            <ul class=" list-less-padding">
                                <li>
                                    Lowest price for a reliable solar pump
                                </li>
                                <li>
                                    Flow rate: 1,500 L/hr
                                </li>
                                <li>
                                    2 inch diamater
                                </li>
                                <li>
                                    7 - 20 meter well depth
                                </li>
                                <li>
                                    Portable easy carry case
                                </li>
                                <!-- <li>
                                    Easy to remove and replace the pump impeller
                                </li> -->
                                <!-- <li>
                                    1 or 2 panels (45-60W)
                                </li> -->
                                <li>
                                    Charges phone and car battery
                                </li>
                            </ul>
                        </div>

                        <div class="col-md">
                            <!-- 4:3 aspect ratio -->
                            <!-- <div class="embed-responsive embed-responsive-4by3">
                                <div class="sketchfab-embed-wrapper">
                                    <iframe width="640" height="480" src="https://sketchfab.com/models/1802e76101724463904c63b446b93861/embed?autospin=0.2&amp;autostart=1"
                                        frameborder="0" allow="autoplay; fullscreen" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                                </div> -->


                            <div>
                                <img src="../assets/img/pump-running.png" alt="Running Pump">
                                <figure class="bubble-stat">
                                    <div class="bubble-stat__content">
                                        <span class="bubble-stat__number">Irrigate 1/2 Acre</span>
                                        <div class="bubble-stat__text">in 4 hours</div>
                                    </div>
                                </figure>
                            </div>



                            <div class="spacer-small"></div>

                            <div class="center">
                                <a href="./pump" class="arrow-button btn-arrow btn-border">
                                    <span>More Pump Info
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                                            <g>
                                                <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                                                <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>

                            </div>

                        </div>

                    </div>

                    <!-- <div class="spacer-large"></div>  -->

                    <!--
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card text-center">
                                <img class="card-img-top" src="assets/img/solarkit/battery-cropped.jpg" alt="Solar Panel and Battery">
                                <div class="card-body">
                                    <h5 class="card-title">What are its uses?</h5>
                                    <p class="card-text">From farming and livestock watering to household use, the Sun Pump has a range of applications across the globe.</p>
                                        <a href="solarpumping" class="arrow-button-small btn-arrow btn-border">
                                            <span>Sun Pump's Uses
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                                                    <g>
                                                        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                                                        <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card text-center">
                                <img class="card-img-top" src="assets/img/pumpdiagram.jpg" alt="Pump and hose">
                                <div class="card-body">
                                    <h5 class="card-title">How does it work?</h5>
                                    <p class="card-text">The pump is able to deliver up to a half liter of water per second and charge a phone or car battery. All the while it maintains a portable design and affordable price tag. </p>
                                        <a href="solarpumping" class="arrow-button arrow-button-small btn-arrow btn-border">
                                            <span>Sun Pump's Design
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                                                    <g>
                                                        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                                                        <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    </div>

                </div>
            </div>

            <div class="banner center">
                <div class="spacer"></div>
                <h2 class="list-title">Impact of Sun Pump</h2>

                <div class="spacer-small"></div>

                    <!-- <ul class="bannerContainer ">
                        <li class="bannerItem ">
                            <img class="image-big" id="farmingImage" src="../assets/img/farming.jpeg">
                            <div>Farming & Irrigation</div>
                        </li>
                        <li class="bannerItem ">
                            <img class="image-big" id="troughImage" src="../assets/img/trough.jpeg">
                            <div>Livestock Watering</div>
                        </li>
                    </ul> -->
            


                <div class="container-fluid images-w-text">
                    <!-- https://css-tricks.com/design-considerations-text-images/ -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="image-w-text">
                                <img src="../assets/img/16x10/farm1.jpg" alt="Farm field">
                                <p>Have multiple crop cycles, grow year-round</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-w-text">
                                <img src="../assets/img/16x10/tomatoes3.jpg" alt="Tomatoes Harvest">
                                <p>Grow high-value, water-intensive crops</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-w-text">
                                <img src="../assets/img/16x10/field-pano.jpg" alt="Dry Water">
                                <p>Stay protected from drought and climate change</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-w-text">
                                <img src="../assets/img/16x10/farmers.jpg" alt="Farming">
                                <p>Boost buisness and financial security</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="spacer-medium"></div>

            </div> <!-- end of the banner section -->



            <div id="buy" class="section section-basic">
                <div class="container center">
                    <div class="center">
                        <a id="buy" class="btn btn-lg btn-primary btn-hover">
                            Buy a Pump Now!
                            <i class="now-ui-icons shopping_cart-simple"></i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="spacer-large"> </div>


            <div id="ourpartners" class="section section-basic">
                <div class="container">

                    <h2>Our Partners</h2>


                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Javascript-friendly map of Africa using the Raphael.js library.
                                by Bryan Braun http://bryanbraun.com 
                                http://bryanbraun.github.com/africa-map-raphael/ -->
                            <div id="africa-map" class="africa-map"> </div>
                            <p id="programinfo">Program Information</p>
                            <script src="../assets/js/africa-map/raphael-min.js"></script>
                            <script src="../assets/js/africa-map/africa-paths.js"></script>
                            <script>
                                window.onload = function () {
                                   // Create canvas and define attributes shared by all paths.
                                    var R = Raphael("africa-map", 620, 690),
                                        attr = {
                                            "fill": "lightgray",
                                            "stroke": "white",
                                            "stroke-miterlimit": "4",
                                            "stroke-width": "1",
                                            "transform": "s0.06,0.06,60,0" // Scales the path to a useful size.
                                        };

                                    // trying to scale: http://bertanguven.com/raphael-js-setsize-function
                                    // var R = Raphael("africa-map", width, scrollHeight),
                                    //  attr = {
                                    //         "fill": "#b9b9b9",
                                    //         "stroke": "#fff",
                                    //         "stroke-miterlimit": "4",
                                    //         "stroke-width": "1",
                                    //         "transform": "s0.06,0.06,60,0" // Scales the path to a useful size.
                                    //     };
                                    // R.setViewBox(0, 0, width, height);
                                    // R.canvas.setAttribute('preserveAspectRatio', 'none');
                                    // $('#africa-map').attr('width', newWeight).attr('height', newHeight);


                                    // Define map object. 
                                    var africaMap = {};
                                    for (var nation in africaPaths) {
                                        // Draw a path, then apply attributes to it.
                                        africaMap[nation] = R.path(africaPaths[nation]).attr(attr);
                                        // Name the internal Raphael id after the africaPaths property name.
                                        africaMap[nation].id = nation;
                                        // Name the element id after the africaPaths property name.
                                        africaMap[nation].node.id = nation;
                                    }
                                    // For an example of interaction via Raphael, uncomment the line below.
                                    // var demo1 = R.getById('tanzania').attr({"fill": "green"});
                                    // For an example of interaction via javascript, uncomment the line below.
                                    var demo2 = document.getElementById('kenya'); demo2.style.fill = "green";
                                    var demo3 = document.getElementById('malawi'); demo3.style.fill = "blue";
                                    var demo4 = document.getElementById('uganda'); demo4.style.fill = "blue";
                                    
                                    // show program info https://parall.ax/blog/view/2985/tutorial-creating-an-interactive-svg-map
                                    // regions[i].mouseover(function (e) {
                                    //     this.node.style.opacity = 0.7;
                                    //     document.getElementById('programinfo').innerText = this.data('region');
                                    // });

                                    // regions[i].mouseout(function (e) {
                                    //     this.node.style.opacity = 1;
                                    // });
                                };
                            </script>
                        </div>
                        <div class="col-lg-3">

                            <div class="map-legend" style="z-index: 0; position: absolute; top: 45px; right: 0px;">
                                <h5 class="map-legend-headline">Map Legend</h5>

                                <div class="map-legend-color">
                                    <div class="ts-map-legend-color-green"></div>
                                    Pumps currently in use
                                </div>

                                <div class="map-legend-color">
                                    <div class="ts-map-legend-color-blue"></div>
                                    Projects in development
                                </div>

                                <div class="spacer-small"></div>

                                <h5 class="map-legend-headline">Other Project Areas</h5>
                                <p>Nepal, Nicaragua</p>
                                
                                
                            </div>
                        </div>


                    <div class="w-100"></div>




                    <!-- <div class="row center"> -->
                        <div class="col">
                            <div class="vertical-center">
                                <img class="image-bigger vertical-center-img" src="../assets/img/encaplogo.png" alt="Encap Tech Logo">
                            </div>
                        </div>
                        <div class="col">
                            <div class="vertical-center">
                                <img class="image-big vertical-center-img" src="../assets/img/globalgoodlogo.png" alt="Global Good Logo">
                            </div>
                        </div>
                        <div class="col">
                            <div class="vertical-center">
                                <img class="image-bigger vertical-center-img" src="../assets/img/kickstartlogo.png" alt="Kickstart Logo">
                            </div>
                        </div>

                        <!-- <div class="w-100"></div> -->

                        <!-- <div class="col">
                            <div class="spacer-small"></div>
                            <a href="http://www.encaptech.com" class="arrow-button-small btn-arrow btn-border">
                                <span>Encap Technologies
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                                        <g>
                                            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                                            <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>

                        <div class="col">
                            <div class="spacer-small"></div>
                            <a href="http://www.intellectualventures.com/globalgood" class="arrow-button-small btn-arrow btn-border">
                                <span>Global Good
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                                        <g>
                                            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                                            <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>

                        <div class="col">
                            <div class="spacer-small"></div>
                            <a href="http://www.kickstart.org" class="arrow-button-small btn-arrow btn-border">
                                <span>Kickstart International
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                                        <g>
                                            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                                            <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div> -->

                    </div>


                </div>
                </div>
            </div>


            <div class="spacer-large"></div>


            <div id="contact" class="section section-basic">
                <div class="container">
                    <h2>Contact</h2>
                        <p>If you have questions, feedback, know somebody who might benefit from our pump, please contact us!
                         </p>



                        <form action="/contact" id="contact-form" method="post" role="form">

                                <header>
                                    <!-- <h2>Example Responsive Form</h2> -->
                                </header>

                                <div>
                                    <label class="desc" id="title1" for="name">Full Name</label>
                                    <div>
                                        <input id="name" name="name" type="text" placeholder="Your Name" required="required" class="field text fn" value="" size="8" tabindex="1">
                                    </div>
                                </div>

                                <div>
                                    <label class="desc" id="title3" for="email">
                                        Email
                                    </label>
                                    <div>
                                        <input id="email" name="email" type="email" placeholder="Your email" required="required" spellcheck="false" value="" maxlength="255" tabindex="3">
                                    </div>
                                </div>

                                <div>
                                    <label class="desc" id="title4" for="message">
                                        Message
                                    </label>

                                    <div>
                                        <textarea id="message" name="message" placeholder="Enter your message here" spellcheck="true" rows="6" cols="50" tabindex="4"></textarea>
                                    </div>
                                </div>

                                    <div>
                                        <div>
                                            <input id="saveForm" name="saveForm" type="submit" value="Submit">
                                        </div>
                                    </div>
                        </form>

                        <style>
                                form header {
                                margin: 0 0 20px 0;
                                }
                                form header div {
                                font-size: 90%;
                                color: #999;
                                }
                                form header h2 {
                                margin: 0 0 5px 0;
                                }
                                form > div {
                                clear: both;
                                overflow: hidden;
                                padding: 1px;
                                margin: 0 0 10px 0;
                                }
                                form > div > fieldset > div > div {
                                margin: 0 0 5px 0;
                                }
                                form > div > label,
                                legend {
                                    width: 25%;
                                float: left;
                                padding-right: 10px;
                                }
                                form > div > div,
                                form > div > fieldset > div {
                                width: 75%;
                                float: right;
                                }
                                form > div > fieldset label {
                                    font-size: 90%;
                                }
                                fieldset {
                                    border: 0;
                                padding: 0;
                                }

                                input[type=text],
                                input[type=email],
                                input[type=url],
                                input[type=password],
                                textarea {
                                    width: 70%;
                                border-top: 1px solid #ccc;
                                border-left: 1px solid #ccc;
                                border-right: 1px solid #eee;
                                border-bottom: 1px solid #eee;
                                }
                                input[type=text],
                                input[type=email],
                                input[type=url],
                                input[type=password] {
                                width: 50%;
                                }
                                input[type=text]:focus,
                                input[type=email]:focus,
                                input[type=url]:focus,
                                input[type=password]:focus,
                                textarea:focus {
                                outline: 0;
                                border-color: #4697e4;
                                }

                                @media (max-width: 600px) {
                                form > div {
                                    margin: 0 0 15px 0;
                                }
                                form > div > label,
                                legend {
                                    width: 90%;
                                    float: none;
                                    margin: 0 0 5px 0;
                                }
                                form > div > div,
                                form > div > fieldset > div {
                                    width: 90%;
                                    float: none;
                                }
                                input[type=text],
                                input[type=email],
                                input[type=url],
                                input[type=password],
                                textarea,
                                select {
                                    width: 90%;
                                }
                                }
                                @media (min-width: 1200px) {
                                form > div > label,
                                    legend {
                                    text-align: right;
                                }
                                }
                        </style>

                        <!-- <div class="email">
                            <a href="mailto:info@sunpump.org">
                                <i class="now-ui-icons ui-1_email-85"></i> info@sunpump.org
                            </a>
                        </div> -->

                    </div>
                </div>
            </div>

            <div class="spacer-large"></div>


        <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="./donate.html">
                                Donate
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@sunpump.org">
                                <i class="fa fa-sm fa-envelope"></i>  info@sunpump.org
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> Sun Pump

                </div>

            </div>
        </footer>
    </div> <!-- wrapper -->

</body>

<!--   JS Files   -->
    <script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>

    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <!-- <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script> -->

    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <!-- <script src="../assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script> -->

    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>

    <!-- Plugin for smooth scrolling JavaScript -->
    <script src="../assets/js/plugins/jquery.easing.js" type="text/javascript"></script>

    <!-- Plugin for headline slide in JavaScript -->
    <script src="../assets/js/plugins/headline-slide.js"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
    //Stripe checkout to buy a pump

        var handler = StripeCheckout.configure({
            key: 'pk_test_P1lN2vw2KxXgACvxWaOnpH5m',
            image: 'http://www.encaptech.com/_images/index1.jpg',
            locale: 'auto',
            shippingAddress: "true",
            zipCode: "true",
            token: function (token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
            }
        });

        document.getElementById('buy').addEventListener('click', function (e) {
            // Open Checkout with further options:
            handler.open({
                name: 'Sun Pump',
                description: 'Solar Water Pump',
                amount: 10000

            });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function () {
            handler.close();
        });

        /*
        document.getElementById('buy2').addEventListener('click', function (e) {
            // Open Checkout with further options:
            handler.open({
                name: 'Sun Pump',
                description: 'Solar Water Pump',
                amount: 10000

            });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function () {
            handler.close();
        });
        */

    </script>

<script>
    //DONATION STUFF
            let button = document.getElementById("button");
            let bar = document.getElementById("bar");
            let progressValue = document.getElementById("progress-value");
            let progressHeader = document.getElementById("progress-header");
            let progressButton = document.getElementById("progress-button");
            let tempNameInput = document.getElementById("tempNameInput");
            let messageArea = document.getElementById("messageArea");
            let messageList = document.getElementById("messages");
            let counter = document.getElementById("counter");

            let totalRaised = 0;
            let count = 0;
            var socket = io();
            socket.on("donation", function(data){
                console.log(data.name + " donated $" + data.amount);
                updateDonationBar(data.amount);
                addDonationToList(data.name, data.amount);
            })

            socket.on("setAmount", function(data){
                totalRaised = data.amount;
                updateDonationBar(0);
            })

            progressButton.addEventListener("click",function(){
                let amount = 10;
                updateDonationBar(amount);
                let tempName = tempNameInput.value;
                if(tempName.length == 0){
                    tempName = "Anonymous";
                }

                addDonationToList(tempName, amount);

                socket.emit("clientDonation", {name: tempName, amount: amount});
            });

            function setDonationBar(amount){
                console.log("SETTING AT: " + amount);
                totalRaised = amount;
                updateDonationBar(0);
            }

            function updateDonationBar(amount){
                totalRaised += Number.parseFloat(amount);
                console.log(totalRaised);
                let currVal = totalRaised % 150;

                let percent = currVal / 150.0;
                console.log(percent);

                count = totalRaised / 150;
                console.log(count);
                count = Math.floor(count);
                console.log(count);

                if(count == 1){
                    counter.innerText = count + " Pump Already Donated!";
                }
                else{
                    counter.innerText = count + " Pumps Already Donated!";
                }


                bar.style.width = (percent * 100) + "%";
                progressValue.innerText = "$" + currVal + "/150";
            }

            function addDonationToList(name, amount){
                let tempListElement = document.createElement("li");
                tempListElement.innerText = name + " donated $" + amount + "!";
                messageList.appendChild(tempListElement);
                messageList.scrollTop = messageList.scrollHeight;
            }

    //END OF DONATION STUFF
</script>

<script>
    //Stripe checkout to buy a pump

        var handler = StripeCheckout.configure({
          key: 'pk_test_P1lN2vw2KxXgACvxWaOnpH5m',
          image: 'http://www.encaptech.com/_images/index1.jpg',
          locale: 'auto',
          shippingAddress: "true",
          zipCode: "true",
          token: function(token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
          }
        });

        document.getElementById('buy1').addEventListener('click', function(e) {
          // Open Checkout with further options:
          handler.open({
            name: 'Sun Pump',
            description: 'Solar Water Pump',
            amount: 10000

          });
          e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
          handler.close();
        });

        document.getElementById('buy2').addEventListener('click', function(e) {
          // Open Checkout with further options:
          handler.open({
            name: 'Sun Pump',
            description: 'Solar Water Pump',
            amount: 10000

          });
          e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
          handler.close();
        });

    //END of stripe checkout
</script>

</html>
