
.header-below-icon {
  margin-top: 0.25em;
}

.progress-bar-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 80px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    background-color:grey;
  }
  
  .progress-bar-vertical .progress-bar {
    width: 100%;
    /* height: 0; */
  }
  .progress-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  #total-progress-value {
      font-size: 1.5em;
      font-weight: bolder;
  }

  #total-progress-percent {
    font-size: 1.5em;
      font-weight: bolder;
  }

  #donation-section {
    /* margin-left: 20px; */
    /* outline: 1px solid black; */
    display: flex;
  }